body {
  background-color: lightpurple;
}
h1 {
  color: purple;
  font: Playwrite England SemiJoined;
}
h2 {
  color: purple;
  font: Playwrite England SemiJoined;
}
h3 {
  color: purple:
  font: Playwrite England SemiJoined;
}
